#presentacion {
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.text-shadow-1 {
    text-shadow: -2px 0px 6px rgba(0, 0, 0, 1);
}

.proyecto{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#proyecto-1{
    background-image: url('assets/google.png');

}